:root {
	/* ------- colors ------- */
	--primary-color: #060608;
	--secondary-color: #2c2c40;
	--tertiary-color: #010106;
	--quaternary-color: #e4e4e7;
	--link-color: #6a3d27;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
